* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --first-color: #55cd6c;
    --first-alpha-color: #55cd6c99;
    --second-color: #14192d;
    --second-alpha-color: rgba(20,25,45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80,20,100, 0.75);
    --white-color: #fff;
    --grey-light-color: #f3f3f3;
    --grey-color: #ccc;
    --grey-dark-color: #666;
    --black-color: #000;
    --link-color:  #15b73457;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255,255,255, 0.5);
    --black-alpha-color: rgba(0,0,0, 0.5);
    --font:"relaway", sans-serif;
    --max-width: 1200px;
    --header-height: 6rem;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
}
body{
    overflow-x: hidden;
    color: var(--text-color);
}
a  {
    text-decoration: none;
}
/* ********** header ************ */
.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1.8rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}


.header > .container {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
}
.logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
}
.logo-item{
    height: 60px;
    margin-right: 10px;
    margin-top: -10px;
}
.logo-item img {
    height: 70%;
}

/* ************ bar menu ********** */
.menu-btn {
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
    height: 24px;
}
.menu-btn svg {
    fill: var(--first-color);
    
}
.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
.none {
    display: none;
}
.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}
.menu a {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}
.menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}
/* *********** inicio ****** */
.home {
    position: relative;
}
/* para traer imagenes from drive*****https://drive.google.com/uc?id= */
.home__img-content {
    /* background-image: url("https://drive.google.com/uc?id=12CJujvHnZ_Zb42WrJSG7ZhumHhyiSQna"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    width: 100%;
    min-height: 100vh;
    animation: change 40s linear infinite alternate;
    
}
@keyframes change {
    0%{background-image: url("https://drive.google.com/uc?id=1Ci1fdyhDIT_BSPnAkizpQ-NIDtKa1ida");opacity:1}
    15%{background-image: url("https://drive.google.com/uc?id=1Ci1fdyhDIT_BSPnAkizpQ-NIDtKa1ida");opacity:0.5}
    30%{background-image: url("https://drive.google.com/uc?id=1yVbHddHqFU1rD1yJ3uHL1g81jZEeuuw5");opacity:1}
    45%{background-image: url("https://drive.google.com/uc?id=1yVbHddHqFU1rD1yJ3uHL1g81jZEeuuw5");opacity:0.5}
    55%{background-image: url("https://drive.google.com/uc?id=1-9xjSFshMaz5XSYGNB6pd548hZKen4cZ");opacity:1}
    70%{background-image: url("https://drive.google.com/uc?id=1-9xjSFshMaz5XSYGNB6pd548hZKen4cZ");opacity:0.5}
    85%{background-image: url("https://drive.google.com/uc?id=1Tsy8dpRnNwN1WDqETqqCHzwLQnRnibTp");opacity:1}
    100%{background-image: url("https://drive.google.com/uc?id=1Tsy8dpRnNwN1WDqETqqCHzwLQnRnibTp");opacity:0.5}
}

.another__img-content {
    background-color: var(--black-alpha-color);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
}
.home__title {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
    min-width: 320px;
}
.home__title h1 {
    font-size: 7.5vh;
    color: var(--grey-light-color);
    margin-bottom: 150px;
}
.home__btn {
    background-color: var(--first-color);
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 4vh;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 70px;
}
.home__btn a {
    color: var(--white-color);
}

/* efecto escritura */
.services {
    color:var(--first-color);
    font-style: normal;
}

/* ********* Nosotros ********** */
.about {
    background-image: url("https://drive.google.com/uc?id=19uLlSU8BIyRhP7OyTq53Idgx9B7Nj-tW");
    /* background-size: cover; */
    background-attachment: fixed;
    /* width: 100%;
    min-height: 100vh;
    width: 100%; */
    text-align: center;
}
.article {
    padding: 20px 10px;
    opacity: 0.9;
    height: auto;
    margin: auto;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.section-title {
    font-size: 2rem;
    border-top: 2px solid var(--first-color);
    border-bottom: 2px solid var(--first-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    font-weight: bold;
    color: var(--title-color);
}
.about__us p {
    width: 100%;
    max-width: 500px;
    font-size: 1.6rem;
    padding: 10px;
    margin: 0 auto;
    color: var(--black-color);
    font-weight: 400;
}
.about__logos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 300px;
    max-height: 300px;
    margin: 0 auto;
}
.about__logos .rect {
    width: 150px;
    height: 60px;
    margin: 5px auto;
}
.about__logos .box {
    width: 60px;
    height: 60px;
    margin: 5px 0;
}
.about__logos img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 8px 0px;
}
.about__container__cards {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.about__card {
    width: 70%;
    margin: auto;
    min-height: 100px;
    /* border: 2px solid aqua; */
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 7px 0px;
    background: rgb(255 255 255 / 90%);
}
.about__card h3 {
    font-size: 1.6rem;
    margin: 5px 
}
.about__card p {
    color: var(--text-color);
    font-size: 1.4rem;
}
/* *************** servicios realizados ************* */
.works {
    padding-top: 20px;
    position: relative;
}
.works .fondo {
    background-color: var(--first-color);
    width: 100%;
    height: 97%;
    position: absolute;
    opacity: 0.2;
}
.slide-1 {
    padding: 0 50px;
    position: relative;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.muebles-verticales {
    width: max-content;
    display: flex;
    height: 430px;
    justify-content: space-around;
}
/* .slide div {
    min-width: 260px;
    max-width: 320px;

} */
.muebles-verticales img{
    border-radius: 15px;
    width: 280px;
    margin: auto 40px auto 0;
    height: 380px;
    scroll-snap-align: center;
}

.muebles-horizontales {
    width: max-content;
    display: flex;
    height: 300px;
    justify-content: space-around;
}
.slide-2 {
    position: relative;
    padding: 0 50px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.muebles-horizontales img{
    border-radius: 15px;
    margin: auto 40px auto 0;
    width: 280px;

    height: 250px;
    scroll-snap-align: center;
}

/* ************ scroll bar ********** */
.slide__scroll-bar::-webkit-scrollbar {
    height: 10px;
  }
.slide__scroll-bar::-webkit-scrollbar-track {
    background: var(--second-color);
}
.slide__scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: 20px;
    border: 3px solid var(--second-color);
  }
.slide__scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: var(--first-color) var(--second-color);
}

/* *********** contacto ********** */
/* .div_contacto-pago  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
    opacity: 0.1;
} */
.div_contacto-pago {
    padding-top: 1px;
    height: 120vh;
}
.contact {
    position: relative;
    text-align: center;
    height: max-content;
}
/* olas  */
/* .waves {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    opacity: 0.2;
}
.reverse {

    transform: rotate(0deg);
    top: calc(100% - 357px);
}

.waves svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 357px;
}

.waves .shape-fill {
    fill: var(--first-color);
} */
/* fin de olas */

.contact article {
    margin: 0 20px;
}
.contact-text {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}
.contact-text p {
    margin: 15px 0;
    font-size: 1.8rem;
}
.contact-text ul li{
    list-style: none;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0 auto;
    text-align: left;
    padding-left: 50px;
}
.contact-info {
    margin: 0 auto;
    width: 280px;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--first-color);
    background-color: var(--second-color);
    border-radius: 15px;
}
.contact-info_whatsapp:hover {
    transform:scale(1.1);
}
.contact-info_whatsapp {
    animation: latido 3s linear infinite;
}
@keyframes latido {
    0%{transform:scale(1);}
    50%{transform: scale(1.1);}
    100%{transform:scale(1);}
}
.contact-info div {
    padding: 15px 10px;
}

.contact-info div a {
    background-color: #55cd6c;
    color: white;
    letter-spacing: 1px;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 1.5rem;
}
.contact-info_telf {
    color: var(--first-color);
    font-weight: bold;
}
.contact-info div a span{
    position: relative;
}
.contact-info div a span img {
    position: sticky;
    top: 5px;
    width: 15px;
    height: 15px;
}
.contact__chat-svg {
    margin-top: 20px;
    margin-left: calc(50% - 125px);
    width: 250px;
    height: 250px;
    transform: rotateY(180deg);
}
.contact__chat-svg img {
    width: 100%;
    height: 100%;
}
/******** metodos de pago *********/
.custom-shape-divider-bottom-1638230724 svg {
    display: none;
}
/* .metodo-pay {
    margin: 50px 0 100px 0;
    display: none;
}
.pay-item {
    text-align: center;
    font-size: 1.4rem;
}
.pay-item img {
    width: 95px;
    height: 90px;
    margin-right: 30px;
    border-radius: 20px;
}
.pay-item-dif img {
    width: 280px;
    height: 115px;
}
.pay-item h2 {
    margin: 10px 0;
}

.pay-info {
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 50px;
    background-color: var(--first-alpha-color);
    width: 250px;
    padding: 3px;
    height: 55px;
    font-weight: 500;
} */

/* ********** footer ***** */
footer {
    position: relative;
    bottom: var(--header-height);
    background-color: var(--first-color);
}

footer p {
    color: var(--second-color);
    font-weight: 500;
    padding: 5px ;
    text-align: center;
    font-size: 1.4rem;
}
footer p a {
    font-size: 1.6rem;
    font-weight: bold;
}
