/* *** header ****** */
.logo a {
    font-size: 2.4rem;
}
/* ****** nosotros **** */
.about {
    height: 110vh;
    display: grid;
    grid-template-rows: 1fr ;
}
.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}
.about__container__cards {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 50% 50%;
}
.about__container__cards h2 {
    grid-column: span 2;
}
/* ******** division de contancto y pago */
.div_contacto-pago {
    position: relative;
    margin-bottom: 85px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:17% repeat(3,1fr);
    height: 120vh;
}
.contact {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}
.metodo-pay {
    grid-row: 2 / 5;
    grid-column: 2 / 3;
}

/* *********** wave ************** */
.custom-shape-divider-bottom-1638230724 {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1638230724 svg {
    position: relative;
    display: none;
    width: calc(164% + 1.3px);
    height: 650px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1638230724 .shape-fill {
    fill: #55cd6c;
    opacity: 0.2;
  }

/** For tablet devices **/
@media (min-width: 768px) {
    .custom-shape-divider-bottom-1638230724 svg {
        display: block;
        width: calc(156% + 1.3px);
        height: 650px;
    }
}
/******** metodos de pago *********/
.pay-item {
    margin: 10px;
}